html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.myContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 700px;
    border-radius: 5px;
}

.popup {
    display: none;
    background: rgba(0, 0,0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
}

.closeimage {
    width: 15px;
    height: 15px;
    float: right;
    margin-right: 1px;
    margin-top: 2px;
    margin-top: 5px;
    margin-right: 5px;
}

